body {
    padding: 30px;
 background-color: #87CEEB;
}

#cabecalho h1 {
    font-size: 30px;
   color: #170db3;
  text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #170db3;
}
 
#cabecalho h2 {
border-bottom: 1px solid #170db3;
}

#conteudo {
    display: flex;
}

#area1 {
    flex: 1;
    height: 350px;
     width:26%;
   background-color: #87CEEB;
border-bottom: 1px solid  blue;
}


#area2 {
    flex: 2;
    height: 350px;
     width:37%;
   background-color: #87CEEB;

    border-bottom: 1px solid  blue;
}



#area3 {
    flex: 3;
    height: 350px;
     width:37%;
   background-color: #87CEEB;

    border-bottom: 1px solid  
#170db3;
}



#a1 {
    flex: 1;
    height: 1000px;
     width:25%;
   background-color: blue;

    border-bottom: 1px solid  
#170db3;
}



#a2 {
    flex: 2;
height: 1000px;
     width:25%;
   background-color: red;
border-bottom: 1px solid  vertical 
white;
}

.botaohd {
	background-color:#0441d9;
	border-radius:14px;
	border:1px solid #0019bf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 18px;
	text-decoration:none;
}
.botaohd:hover {
	background-color:#658ce6;
}
.botaohd:active {
	position:relative;
	top:1px;
}

     